@page "{id:int?}"
@model qldfuelanalyse.Pages.Sites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <p>
        @Html.DisplayFor(model => model.SiteObj.Sites.First().SiteId)
    </p>
    <p>
        @Html.DisplayFor(model => model.SiteObj.Sites.First().SiteName)
    </p>
    <p>
        @Html.DisplayFor(model => model.SiteObj.Sites.First().SiteSuburb)
    </p>
    <p>
        @Html.DisplayFor(model => model.SiteObj.Sites.First().SitePostCode)
    </p>
</div>
<div>
    <a asp-page="./Index">Back to Site List</a>
</div>