@page
@model qldfuelanalyse.Pages.CompareModel
@{
    ViewData["Title"] = "Compare";
}

<h1>Compare</h1>

<form>
    <p>
        Site Id 1:
        <input class="inputIdGraph" type="text">
        <br />
        Site Id 2:
        <input class="inputIdGraph" type="text">
        <br />
        <button type="button">Generate graph</button>
    </p>
</form>

