@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is for displaying QLD fuel price data.</p>
    <p>
        Data is sourced from <a href="https://www.data.qld.gov.au/dataset/fuel-price-reporting">data.qld.gov.au</a>
        and is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>.
        This website is not affiliated or endorsed by Queensland Government or any fuel stations or brands shown.
        This website currently uses the fuel price data released monthly from data.qld.gov.au and is not updated in real-time.
        Any information displayed on this website may not be accurate, complete or up-to-date.
    </p>
</div>
